
@{
    Produto p = ViewBag.Produto;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Produto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Editar Produto</h1>

    <form asp-action="EditarProduto" method="post">
        <label>Id: </label>
        <input type="text" name="txtId" value="@p.ProdutoId" readonly=""/>
        @*<input type="hidden" name="hdnId" value="@p.ProdutoId" />*@
        
        <label>Nome: </label>
        <input type="text" name="txtNome" value="@p.Nome" /><br />
        <label>Descricao: </label>
        <input type="text" name="txtDescricao" value="@p.Descricao" /><br />
        <label>Preço: </label>
        <input type="text" name="txtPreco" value="@p.Preco" /><br />
        <label>Quantidade: </label>
        <input type="number" name="txtQuantidade" value="@p.Quantidade" /><br />

        <input type="submit" value="Salvar" />
    </form>


</body>
</html>
